/* Card con estilo de header/botón - gradientes metálicos con brillo */
.card-header {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0.1) 49%,
      rgba(255, 255, 255, 0) 50%
    ),
    linear-gradient(
      180deg,
      rgba(111, 118, 122, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(62, 65, 67, 0.7) 100%
    );
  box-shadow: 
    0px 6px 15px rgba(0, 0, 0, 0.3),
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 16px;
}

/* Card con estilo de contenido - tonos más oscuros */
.card-content {
  background: linear-gradient(
    180deg,
    rgba(97, 103, 107, 0.7) 0%,
    rgba(22, 22, 22, 0.7) 50%,
    rgba(61, 64, 66, 0.7) 100%
  );
  box-shadow: 
    0px 10px 15px rgba(0, 0, 0, 0.3),
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 16px;
}