/* Estilos base compartidos para cards y botones */
.glass-base {
  position: relative;
  background: linear-gradient(
     180deg,
    rgba(19, 21, 20, 0.127) 10%,
    rgba(22, 22, 22, 0.207) 50%,
    rgba(0, 0, 0, 0.200) 90%,
    rgba(62, 65, 67, 0.18) 100% 
  );
  box-shadow: 
    0px 7px 10px rgba(0, 0, 0, 0.3),
    inset 0px 10px 10px rgba(121, 255, 253, 0.131),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}



/* 

    background: linear-gradient(180deg, rgba(148, 148, 148, 0.9) 0%, rgba(71, 71, 71, 0.9) 20%, rgba(19, 19, 19, 0.9) 40%, rgba(7, 7, 7, 0.93) 100%);
    border-right: 1px solid #4e4e4e;
    border-left: 1px solid #4e4e4e;
    border-top: 2px solid #4e4e4e;
    border-radius: 70px 80px 0px 0px;
    padding: 15px 10px 13px 30px;
    backdrop-filter: blur(1px) saturate(150%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */