/* Card con efecto glass */
.glass {
  /* background: rgba(0, 0, 0, 0.325);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px); */

  
    background: linear-gradient(
      180deg, rgba(157, 157, 157, 0.52) 0%,
     rgba(71, 71, 71, 0.650) 20%,
      rgba(19, 19, 19, 0.650) 40%,
       rgba(7, 7, 7, 0.650) 100%);
    border-right: 1px solid #4e4e4e;
    border-left: 1px solid #4e4e4e;
    border-top: 1px solid #4e4e4e;
    backdrop-filter: blur(1px) saturate(150%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 


    /* // modern glass  */
    /* background: linear-gradient(
      180deg, rgba(148, 148, 148, 0.350) 0%,
     rgba(71, 71, 71, 0.350) 20%,
      rgba(19, 19, 19, 0.350) 40%,
       rgba(7, 7, 7, 0.350) 100%);
    border-right: 1px solid #4e4e4e;
    border-left: 1px solid #4e4e4e;
    border-top: 1px solid #4e4e4e;
    backdrop-filter: blur(6px) saturate(150%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;  */
}


.buttonGlass {
  border: 1px solid #2b2b2b2a;
  outline: none;
box-shadow: rgba(0, 0, 0, 0.120) 0px 14px 28px, rgba(0, 0, 0, 0.100) 0px 10px 10px; 
  cursor: url('/cursor/normal.cur'), pointer; 
  display: inline-flex;
  color: var(--color-white-pure);
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  transition: 
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.1s ease;
}

.buttonGlass:hover {
   
  background-color: rgba(255, 255, 255, 0.082);
 
}

.buttonGlass:active {
  transform: scale(0.92); 
}