/* Estilos base compartidos para cards y botones */
.glass-base {
  position: relative;
  background: linear-gradient(
     180deg,
    rgba(19, 21, 20, 0.127) 10%,
    rgba(22, 22, 22, 0.207) 50%,
    rgba(0, 0, 0, 0.200) 90%,
    rgba(62, 65, 67, 0.18) 100% 
  );
  box-shadow: 
    0px 7px 10px rgba(0, 0, 0, 0.3),
    inset 0px 10px 10px rgba(121, 255, 253, 0.131),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}
