/* Card con efecto glass */
.glass {
  background: rgba(0, 0, 0, 0.325);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
}


.buttonGlass {
  border: 1px solid #d3d3d347;
  outline: none;
  box-shadow:
    0 4px 5px rgba(0, 0, 0, 0.235),
    inset 0px 0px 80px rgba(255, 255, 255, 0.095);
  cursor: url('/cursor/normal.cur'), pointer; 
  display: inline-flex;
  color: var(--color-white-pure);
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  transition: 
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.1s ease;
}

.buttonGlass:hover {
  background-color: rgba(255, 255, 255, 0.082);
 
}

.buttonGlass:active {
  transform: scale(0.92); 
}