/* Estilos base compartidos para cards y botones */
.glass-base {
  position: relative;
background: linear-gradient(
      180deg, rgba(148, 148, 148, 0.236) 0%,
     rgba(71, 71, 71, 0.359) 20%,
      rgba(19, 19, 19, 0.284) 40%,
       rgba(64, 97, 112, 0.219) 100%);
       border-right: 1px solid #4e4e4e;
      border-left: 1px solid #4e4e4e;
      border-top: 1px solid #4e4e4e;
      box-shadow: rgba(0, 0, 0, 0.23) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 
}



