
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Inter', monospace;
}




:root {
  /* Brand Colors */
  --color-primary: #6CFF9D;

  /* Whites */
  --color-white-pure: #ffffff;
  --color-white-light: #ebfff2;
}


html, body {
  cursor: url('/cursor/cursor.cur'), auto;
}

button,
a,
input,
textarea,
select,
[role="button"] {
  cursor: url('/cursor/cursor.cur'), pointer;
}


::selection {
  background: var(--color-primary);
  color: black;
}

::-moz-selection {
  background: var(--color-primary);
  color: black;
}
