---
import Card from '../ui/Card.astro';
import global from '../../styles/global.css'
---
<Card>
    <div class="about-me">
        
        <h1 >I’m a Frontend Developer building pixel-perfect, engaging, and accessible digital experiences — crafted with <span>(clean/secure/optimized/scalable)</span> code. </h1>
        
        <p>Hi! I'm Javier Alzú, 25 years old, from Chaco, Argentina. As a self-taught developer, I've learned to figure things out, stay curious, and craft interfaces tailored to each project. I enjoy turning ideas into clean, functional web experiences and pushing myself a bit further with every build, whether it's refining a layout, improving performance, or exploring a new tool that helps me grow as a developer.</p>
    </div>
    </Card>
    
    <style>

        .about-me{
            padding: .4rem 1.250rem;
        }

        h1{
            font-size: 2.2rem;
            line-height: 1.080;
        }

        h1 span{
              color: var(--color-primary);

        }

        p{
            font-size: 1.2rem;
         color: var(--color-white-light);
        }

</style>