---
import ProjectsCard from '../ui/ProjectsCard.astro';
import Card from '../ui/Card.astro';

// Ejemplos demo
const projects = [
  {
    title: "Courses WebApp",
    description: "Plataforma e-Learning desarrollada con Next.js, React, Tailwind CSS y Supabase. La interfaz usa Shadcn UI y React. Zustand gestiona el estado global. Supabase (Auth + DB) provee login seguro, control de acceso y almacenamiento de videos. Incluye consumo de sesiones y administración (CRUD) de cursos.",
    demoUrl: "https://weather-demo.com",
    codeUrl: "https://github.com/noname/weather"
  },
  {
    title: "RealTime colors",
    description: "Aplicación web para la creación y visualización de paletas de colores en tiempo real. Desarrollada con Astro y React para una entrega rápida y componentes interactivos. Los estilos se gestionan con Tailwind CSS. El estado de los colores utiliza React Context y useReducer para la gestión global, permitiendo previsualizaciones instantáneas en toda la página.",
    demoUrl: "https://todo-demo.com",
    codeUrl: "https://github.com/noname/todo"
  },
  {
    title: "Portfolio 2025",
    description: "Dashboard de gestión y seguimiento de criptomonedas. La aplicación consume datos en tiempo real de APIs externas utilizando Axios. Para una gestión eficiente del estado de datos se implementa TanStack Query, logrando una aplicación súper rápida con datos siempre frescos. La interfaz de usuario es construida con Material UI (MUI), proporcionando un diseño limpio y profesional con componentes preconstruidos.",
    demoUrl: "https://portfolio-demo.com",
    codeUrl: "https://github.com/noname/portfolio"
  }
];
---

<Card width="100%" height="auto">
  <div class="projects-grid">
    {projects.map(p => (
      <ProjectsCard 
        title={p.title}
        description={p.description}
        demoUrl={p.demoUrl}
        codeUrl={p.codeUrl}
      />
    ))}
  </div>
</Card>

<style>
.projects-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.3rem;
  padding-inline: 1.2rem;
  padding-block: 1.3rem;
}


@media (max-width: 800px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
</style>
