---
import '../../styles/glassRetro.css';
const { width = '100%', height = '100%', borderRadius = 40 } = Astro.props;
---

<div class="glass-base glass-card" style={`width: ${width}; height: ${height}; border-radius: ${borderRadius}px;`}>
  <slot />
</div>

<style>
  .glass-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Añade esto */
    box-sizing: border-box; /* IMPORTANTE */
    overflow: hidden; /* Para contener el contenido */
  }
</style>
