.hero {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.15);
  padding: 3rem;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  /* Para que se note el efecto en Astro con fondo */
  width: fit-content;
  max-width: 600px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.25);
}

.hero h1 {
  margin: 0 0 10px 0;
  color: white;
}

.hero p {
  margin: 0;
  color: white;
}
