---
const { text } = Astro.props;
---

<span class="badge-glass">
  {text}
</span>

<style>
  
.badge-glass {
  display: inline-block;
  padding: 0.350em 0.950em;
  font-size: 0.760rem;
  font-weight: 700;
  border-radius: 12px;
  color: var(--color-white-pure); 
  background-color: #00000062; 
  border: 1px solid rgba(255, 255, 255, 0.142);
} 
</style>