 ---
import '../../styles/glass.css';
const { width, height, borderRadius = 28 } = Astro.props;
---

<button
  class="buttonGlass"
  style={`
    ${width ? `width: ${width}px;` : ''}
    ${height ? `height: ${height}px;` : ''}
    ${borderRadius ? `border-radius: ${borderRadius}px;` : ''}
  `}
>
  <slot />
</button>

<style>

  .buttonGlass:active {
    transform: scale(0.98);
  }
</style> 