---
import '../../styles/glassRetro.css';
import '../../styles/glass.css';
const { width = '100%', height = 'auto', borderRadius = 40 } = Astro.props;
---

<div class="glass glass-card" style={`width: ${width}; height: ${height}; border-radius: ${borderRadius}px;`}>
  <slot />
</div>

<style>
  .glass-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    overflow: hidden; 
  }
</style>

